
.navbar-brand {
    --bs-navbar-brand-padding-y: 1.3rem;
    --bs-navbar-brand-font-size: 1.0rem;
    --bs-navbar-brand-margin-end: 2rem;
}

.navbar.navbar-expand-lg.bg-white {
    font-size: 1.2rem;
}

.dropdown-menu.show {
    --bs-dropdown-font-size: 1.1rem;
    --bs-dropdown-border-radius: 0rem;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-link-active-bg: #eb2b2b;
    --bs-dropdown-item-padding-x: 5rem;
    text-align: center;
}








